body {
  background-color: rgb(48, 5, 88);
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}
* {
  color: white;
}

.contSearch{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contSearch label{
  margin-top: 10px;
}
.container{
  background-color: rgb(49, 186, 186);
  width: 60%;
  height: 800px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
}

label{
  font-weight: bold;
  color: white;
}


input,select{
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 34px;
  padding-left: 10px;
  font-weight: 100;
  border: 1px solid rgb(49, 186, 186);
  background-color: rgb(48, 5, 88);
}

button
{
  background-color: rgb(48, 5, 88);
  color: white;
  outline: none;
  width: 9vw;
  height: 5vh;
  border-radius: 20px;
  border: 1px solid rgb(48, 5, 88);
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}
th{
  border: 2px solid rgb(146, 34, 34);
  border-collapse: collapse;
  width: 100px;
}
td {
  border: 2px solid rgb(146, 34, 34);
  font-weight: lighter;
  text-align: center;
}
.ht,.ttc{
  display: flex;
  width: 70%;
  justify-content: space-between;
}
p{
  margin-top: 3px;
  visibility:hidden;
  color: red;
}
.invalid{
  border:3px solid rgb(183, 6, 6);
  background-color:rgb(189, 167, 167) ;
}
.valid{
  border:3px solid rgb(11, 127, 52);
  background-color:rgb(128, 176, 137) ;
} 
img{
  width: 150px;
  height: 70px;
}