body {
  background-color: rgb(48, 5, 88);
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}
* {
  color: white;
}


.container{
  background-color: rgb(49, 186, 186);
  width: 60%;
  height: 700px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 30px;
}

label {
  font-weight: bold;
  color: white;
}


button,input,select {
  width: 80%;
  border-radius: 10px;
  outline: none;
  height: 34px;
  padding-left: 10px;
  font-weight: 100;
  border: 1px solid rgb(49, 186, 186);
  background-color: rgb(48, 5, 88);
  margin-top: 3px;
}
 button{
  margin-top: 10px;
  height: 50px;
  background-color: rgb(32, 54, 0);
  font-weight: bolder;
  font-size: 1.4rem;
  cursor: pointer;
}
input::placeholder{
  font-weight: bold;
  font-size: 1.0rem;
}
p{
  color: red;
  margin-top: 5px;
  visibility: hidden;
}
.invalid{
  border:3px solid rgb(183, 6, 6);
  background-color:rgb(189, 167, 167) ;
}
.valid{
  border:3px solid rgb(11, 127, 52);
  background-color:rgb(128, 176, 137) ;
} 